@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: oratorstd;
  src: url("../fuentes/OratorStd.otf") format("opentype");
}
@font-face {
  font-family: gothamlight;
  src: url("../fuentes/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: gothamBook;
  src: url("../fuentes/Gotham Book Regular.otf");
}
@font-face {
  font-family: painter;
  src: url("../fuentes/SignPainter.ttf");
}
/* BARRA DE NAVEGACION */
.topnav {
  letter-spacing: 3px;
  font-family: oratorstd;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  background-color: #AA7C39;
  height: 70px;
}
@media only screen and (min-width: 700px) {
  .topnav {
    height: 100px;
  }
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 2rem 1.5rem;
  text-decoration: none;
  font-size: 17px;
}
@media only screen and (min-width: 1500px) {
  .topnav a {
    font-size: 17px;
  }
}
.topnav a:hover {
  color: #ad7724;
}
.topnav .active {
  color: #f09814;
}

/* LOGO */
.logo {
  background-image: url("../iconos_logos/logo.png");
  width: 9rem;
  height: 100px;
  /* margin: 2rem, 2rem; */
  margin-top: 1rem;
  margin-left: 1rem;
  padding-bottom: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}
@media only screen and (min-width: 700px) {
  .logo {
    width: 15rem;
  }
}

/* BOTON DE MENU */
/* contenedor */
.btn-menu {
  margin: 1rem 2rem;
  padding-top: 0.5rem;
}
@media only screen and (min-width: 700px) {
  .btn-menu {
    margin: 2rem;
  }
}
.btn-menu #menu {
  height: 1rem;
}

/* desaparecerlo en movil */
.topnav-right {
  display: none;
}

/* boton */
/* DIMENSIONES DEL LOGO Y MENU IPAD */
/* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px) {
  .btn-menu {
    display: none;
  }

  .topnav-right {
    display: block;
    float: right;
    padding-right: 2rem;
    padding-top: 1.2rem;
    align-items: center;
  }

  .logo {
    width: 15rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }

  .iconos a {
    padding-top: 1.65rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
@media only screen and (min-width: 1100px) and (min-width: 1500px) {
  .iconos a {
    font-size: 20px;
  }
}
/* MENU Y SU ANIMACION */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #28324D;
  overflow-x: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay .closebtn {
  position: absolute;
  padding-top: 0px;
  height: 86px;
  right: 0px;
  font-size: 54px;
  padding-right: 34px;
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .overlay .closebtn .overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 80px;
  }
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .iconos-menu .fa-1x {
  font-size: 0.6em;
}
.overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a .active, .overlay .overlay-content a:hover, .overlay .overlay-content a:focus {
  color: #929292;
}

/* Encerrar iconos en círculos */
i.fab {
  /* margin: 0.5em; */
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  transition: all 0.5s ease;
  width: 2.1em;
  text-align: center;
}
i.fab:hover {
  background: white;
  color: #AA7C39;
}

.portada {
  background-image: url("../imagenes_recubrimientos/portadaS.jpg");
  background-size: cover;
  height: 79vw;
}
@media only screen and (min-width: 600px) {
  .portada {
    background-image: url("../imagenes_recubrimientos/portada.jpg");
    background-size: cover;
    height: 45vw;
  }
}

.descripcion {
  margin: 2rem;
}
@media only screen and (min-width: 900px) {
  .descripcion {
    background-image: url(../imagenes_pinturas/fondo.png);
    background-size: 46vw;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -14vw;
    margin-top: 0;
    margin-left: 5rem;
  }
}
@media only screen and (min-width: 1500px) {
  .descripcion {
    height: 13vw;
  }
}
.descripcion h4 {
  font-family: Raleway;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 900px) {
  .descripcion h4 {
    padding-top: 3rem;
  }
}
.descripcion p {
  font-family: gothamlight;
  text-align: justify;
}
@media only screen and (min-width: 900px) {
  .descripcion p {
    margin-right: 52vw;
  }
}

.seccion {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .seccion {
    flex-direction: row;
  }
}
.seccion .izquierda {
  flex: 45%;
  background-image: url("../imagenes_recubrimientos/textura.png");
  background-size: cover;
  height: 56vw;
}
@media only screen and (min-width: 900px) {
  .seccion .izquierda {
    margin: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../imagenes_recubrimientos/textura.png");
    height: 45vw;
  }
}
.seccion .derecha {
  flex: 55%;
  display: flex;
  flex-direction: column;
}
.seccion .derecha h3 {
  display: none;
}
@media only screen and (min-width: 900px) {
  .seccion .derecha h3 {
    font-family: Raleway;
    display: block;
    padding-top: 7vw;
    font-size: 25px;
    margin-left: 2.5rem;
    text-align: unset;
  }
}
.seccion .derecha .circulos-color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
}
@media only screen and (min-width: 900px) {
  .seccion .derecha .circulos-color {
    padding-right: 0;
    padding-left: 0;
  }
}
.seccion .derecha .circulos-color .contenedor-color {
  display: flex;
  flex: 33%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 900px) {
  .seccion .derecha .circulos-color .contenedor-color {
    flex: 15%;
  }
}
.seccion .derecha .circulos-color .contenedor-color .circulo {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #C85A2C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
@media only screen and (min-width: 900px) {
  .seccion .derecha .circulos-color .contenedor-color .circulo {
    font-size: 3vw;
    width: 7vw;
    height: 7vw;
  }
}
.seccion .derecha .circulos-color .contenedor-color .nombre-color {
  font-size: 8px;
  padding-top: 0.5rem;
}
@media only screen and (min-width: 600px) {
  .seccion .derecha .circulos-color .contenedor-color .nombre-color {
    font-size: 16px;
  }
}

.caracteristicas {
  margin: 2rem;
  font-family: gothamlight;
}
@media only screen and (min-width: 900px) {
  .caracteristicas {
    display: none;
  }
}

.descripcionXL {
  margin: 1.5rem;
  display: none;
  font-family: gothamlight;
}
@media only screen and (min-width: 900px) {
  .descripcionXL {
    display: block;
    margin: 1.5rem 4.5rem 1.5rem 2.5rem;
    text-align: justify;
  }
}

@media only screen and (min-width: 900px) {
  #botonesL {
    display: flex;
    flex-direction: column;
    flex: 25%;
  }
}

.contenedor-botones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: gothamlight;
  margin-bottom: 2rem;
  font-size: 10px;
  width: 100%;
  margin-top: 3rem;
}
@media only screen and (min-width: 900px) {
  .contenedor-botones {
    font-size: 16px;
    width: unset;
    justify-content: center;
  }
}
.contenedor-botones .boton {
  text-decoration: none;
  transition: all 0.5s ease;
}
.contenedor-botones .boton:nth-child(1) {
  background-color: #D8D8D8;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 1px solid #D8D8D8;
  order: 2;
}
@media only screen and (min-width: 900px) {
  .contenedor-botones .boton:nth-child(1) {
    margin: 2rem 0rem 2rem 0;
  }
  .contenedor-botones .boton:nth-child(1):hover {
    background-color: white;
    color: #D8D8D8;
    border: 1px #D8D8D8 solid;
  }
}
.contenedor-botones .boton:nth-child(2) {
  color: #D8D8D8;
  border: 1px #D8D8D8 solid;
  padding: 0.5rem 1.9rem 0.5rem 1.9rem;
  background-color: white;
}
@media only screen and (min-width: 900px) {
  .contenedor-botones .boton:nth-child(2) {
    margin: 2rem 0 2rem 0rem;
  }
  .contenedor-botones .boton:nth-child(2):hover {
    background-color: #D8D8D8;
    color: white;
  }
}

.conocemas {
  display: none;
  height: 30vw;
}
@media only screen and (min-width: 700px) {
  .conocemas {
    display: flex;
    font-family: Raleway;
  }
  .conocemas .izquierda {
    background-image: url("../imagenes_recubrimientos/pintor.jpg");
    flex: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(0.6);
    transition: all 0.5s ease;
  }
  .conocemas .izquierda:hover {
    filter: brightness(1);
  }
  .conocemas .izquierda .nombre {
    font-size: 2vw;
    margin-top: 17%;
    color: white;
    text-decoration: none;
    border: 2px white solid;
    padding: 0 1rem 0 1rem;
  }
  .conocemas .izquierda .mas {
    font-size: 3vw;
    color: white;
    text-decoration: none;
  }
  .conocemas .derecha {
    background-image: url("../imagenes_recubrimientos/adhesivos.jpg");
    flex: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(0.6);
    transition: all 0.5s ease;
  }
  .conocemas .derecha:hover {
    filter: brightness(1);
  }
  .conocemas .derecha .nombre {
    font-size: 2vw;
    margin-top: 17%;
    color: white;
    text-decoration: none;
    border: 2px white solid;
    padding: 0 1rem 0 1rem;
  }
  .conocemas .derecha .mas {
    font-size: 3vw;
    color: white;
    text-decoration: none;
  }
}

.footer-movil {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1A1F33;
  height: 259px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: gothamlight;
}
@media only screen and (min-width: 700px) {
  .footer-movil {
    display: none;
  }
}
.footer-movil .logo-blanco {
  background-image: url("../iconos_logos/logo-footer.png");
  width: 8rem;
  height: 90px;
  /* margin: 2rem, 2rem; */
  margin-top: 0.73rem;
  padding-bottom: 5.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.footer-movil a {
  color: white;
}
.footer-movil a i {
  padding-top: 2rem;
}

.footer-grande {
  display: none;
  /* height: 260px; */
  background-color: #1A1F33;
  color: white;
  letter-spacing: 2px;
  font-family: oratorstd;
}
@media only screen and (min-width: 700px) {
  .footer-grande {
    display: flex;
  }
}
.footer-grande a {
  color: white;
}
.footer-grande .col-izquierda {
  font-size: 0.625rem;
  flex-basis: 30%;
  padding-left: 25px;
  padding-top: 25px;
}
.footer-grande .col-izquierda p {
  line-height: 1.7rem;
  padding-top: 2rem;
}
.footer-grande .col-izquierda .logo-blanco {
  display: none;
}
.footer-grande .col-centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
}
.footer-grande .col-centro a i {
  padding-top: 1.5rem;
}
.footer-grande .col-centro .flecha {
  padding-top: 20px;
}
.footer-grande .col-centro .regresar {
  font-size: 12px;
  padding-top: 35px;
  letter-spacing: 1px;
}
.footer-grande .col-centro .legal {
  letter-spacing: 1px;
  font-size: 10px;
  padding-top: 4.3rem;
}
.footer-grande .col-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 30%;
  font-size: 6.5px;
}
.footer-grande .col-derecha .contacto-footer {
  font-size: 10.5px;
  justify-content: center;
  padding-top: 74px;
  text-align: justify;
  text-align: center;
}

p#ultimo {
  padding-top: 50.5px;
}

@media only screen and (min-width: 1200px) {
  .col-izquierda {
    padding-left: 4rem;
  }

  .contacto-footer {
    padding-top: 74px;
  }

  p#ultimo {
    padding-top: 50.5px;
  }
}

/*# sourceMappingURL=recubrimiento.css.map */
